.header {
  margin-bottom: $default-gap-size;
  background: $header-bg-color;
  color: #fff;

  &__hero {
    text-align: center;
    padding: $default-gap-size * 2 0;
  }

  &__title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: $default-gap-size;
  }

  &__actions .btn {
    margin: 0 $default-gap-size / 4;
  }
}

.footer {
  color: $text-secondary-color;
  font-size: 0.84rem;
  text-align: center;
  margin-top: $default-gap-size * 2;
  margin-bottom: $default-gap-size;
}

.main-content {
  text-align: justify;
}

.faq-section {
  margin-bottom: $default-gap-size;
}
